<div class="clearfix outline-blue">

  <%= link_to root_path do %>
    <%= image_tag("logo.png") %>
  <% end %>

  <h1>
    Some heroku websites suffer from insomnia!
    <sup>*</sup>
  </h1>

  <div>
    <small>* I'm visiting them every 15 minutes, so they can get no sleep.</small>
  </div>

</div>
